/*	*	*	*	*

 *	Black Lib 1969 custom css
        extending the Berlin theme
 *	for Omeka

 *	*	*	*	*/

body{
	font-family: $font-secondary-family;
}

#{headings(2,6)}{ 
	font-family: $font-secondary-header;
}

#{headings(1)}{
	font-family: $font-primary-header;
}

#site-title a{

	font-family: $font-primary-family;
	font-size: 2.5 * $base-font-size;
        display: block;
        padding: 10px 0 0 275px;
        width: 500px;
        height: 200px;
        @media screen and (max-width: 960px) {
            width: 400px;
            height: 100%;
            padding-top: 0px;    
        }
        vertical-align: bottom;
        background: url(logo_small.jpg) no-repeat left center;
        background-size: auto 100%;
}       

div.exhibit p.tags { display: none; }

#primary-nav{
    font-family: $font-secondary-header;
    font-size: .80 * $base-font-size;
    li.active a, li.active a{
    color: darken($color-contrast,10%);
    }
}

p#simple-pages-breadcrumbs,
div#footer-content{
    font-family: $font-secondary-header;
    font-size: .80 * $base-font-size;
}

div#footer-content p {
    display: none;
}

div#sort-links{
    font-family: $font-secondary-header;
    font-size: $base-font-size;
}

div#collections-browse-metadata{


}

.element-text,
.exhibit-description p, 
p.simplepage-text, 
#exhibits-list li p,
.exhibits.show div.exhibit-block p
{
	font-size: $base-font-size;
	line-height: $base-line-height;
}

p.simplepage-text { padding: 0 1em; }

/* * * * Exhibits Page * * * */

.exhibits.show {
    
    ul.exhibit-page-nav#secondary-nav{
  
        list-style-type: decimal;
        li { padding-bottom: 0; }  
        li a{ 
            background: none; 
            color: $color-dark;
            font-size: $base-font-size; 
        }
        li.current a{ color: $color-contrast; }
        a.exhibit-title{ 
            color:#000;
            font-family: $font-primary-header;
            font-size: 2 * $base-font-size;
            text-transform: uppercase;
        }
        li:nth-child(3){ display: none; }

    }

    #content h1 { font-family: $font-secondary-family; }

    ul.exhibit-child-nav { display: none; }

    #exhibit-page-navigation { 

        font-size: $base-font-size; 
        .current-page, #exhibit-nav-up { display: none; }
    }
} 

/* * * * Show Image * * * */

#image-preview { max-width: 500px; }
#dublin-core-title { display: none; }
div.element-text { 
    padding: 1.25em 0 0 1em;
 }
#item-metadata .element-set, div.element { 

    div div, div h3, h3,  div { 
        display: inline-block !important;
        float: left !important; 
    }
}

div#docsviewer h2,
div#docsviewer_viewer h2,
div#moving-image-item-type-metadata-player { display: none !important; }

docsviewer_viewer ifram{
    @media screen and (min-width: 768px){
        width: 100% !important;
    }
}

div.audio-interview {
    padding: 1em 1em 2em 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    width: 430px;
    @include border-radius(10px);
    div.image-jpeg:first-child{
        height: 400px;
        overflow: hidden;
        img { width: 400px; }
    } 
}

/* * * * Exhibits * * * */

div.exhibit-image a img {
    width: 500px;
}

/* * * * Student Papers Exhibit * * * */

#narratives {

    padding: 0 1em;
    
    div.narrative-heading{
        float: left;
        display: inline-block;
        padding: 10px;
        width: 50%;
        min-width: 310px;
        max-width: 500px;
        height: 375px; 
        @media screen and (max-width: 975px){
            height: 500px;
        }
        p {
            font-size: $base-font-size;
            line-height: $base-line-height;
        } 
    }
   div.narrative-heading:hover{
        background-color: #ddd;
    } 
}

/* * * * Soundtrack Exhibit * * * */

div#soundtrack-exhibit-player {
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}


/* * * * Interviews Gallery * * * */

div#interviews-gallery{

    width: 98%;
    margin-left: auto;
    margin-right: auto;
    .record { 
        display: inline-block;
        height: 150px;
        width: 150px;
        overflow: hidden;
    }
    .item {
        img { width: 150px; height: 150px; z-index: 1; }
        img:nth-child(2){
            display:none;
            position: relative;
            top: -150px;
            z-index: 1;
        }
        .item-description,h3:first-child {display: none;}
        a h3 {
            position: relative;
            margin: 0 15px;
            top: -3.6em;
            color: #fff;
            z-index: 2;
        }
    }
}

/* * * * Enrollment Visualization * * * */

div#enrollment-visualization svg {

    font-family: 12px sans-serif;

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke-width: 2.5px;
      stroke: #315a7d;
    }
    .area {
      stroke: none;
      fill: #b2cce1;
    }
}

/* * * * Exhibits List Page * * * */

div#exhibits-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    div.exhibit-preview { 
        width: 45%;
        min-width: 310px; 
        height: 385px;
        @media screen and (max-width:960px){
            height: 100%;
        }
        float: left; border-bottom: 1px solid #ddd;
        padding: 1em  1em 0 1em;
        margin: 0 1em;
        font-size: .8 * $base-font-size; 
        line-height: .8 * $base-line-height; 
        a img.thumb{ width: 200px; height: 200px; }
        div { vertical-align: top; }
    }
    div.exhibit-preview:hover { background: #ddd; }	
}


/* * * * Main Page * * * */

.jcarousel#jcarousel-main {
    a div { 
        position: relative;
        height: 375px;
        background-repeat: no-repeat !important;
        background-size: 100% auto !important;
        background-position: center center !important;
        h2 { 
            margin: 0;
            text-align: center;
            font-family: $font-primary-header;
            text-transform: uppercase; 
        }
        h2:hover { color: $color-contrast; } 
        p { display: none; }
        div{
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 66%;
            height: 20%;
            margin-left: 7.5%;
            padding: 1em 2em;
            background-color: rgba(255,255,255,.75);
        }
    }
}

#main div#primary h1:nth-child(2), 
#main p#simple-pages-breadcrumbs { display: none; }

/* * * * Tag Cloud * * * */

.items.tags {
    #content h1:nth-child(1),
    .secondary-nav{
        display: none;
    }
    #content h1:nth-child(1):after{ 
        content: 'Search Items by Tag'; 
        visibility: visible;
        display: block;
    }
}

.hTagcloud{
        border: 1px solid #ddd; 
        @include border-radius(5px);
        ul li{
	    margin: 17px 4px;
            display: inline-block;
            font-family: $font-primary-family;
        }
        a{
		color: rgba(225,225,225,.75);
		padding: 10px 5px;
		text-decoration: none;
		background-color: lighten($color-primary, 5%);
		border: 2px solid darken($color-primary, 5%);
		border-radius: 20px;
                opacity: .8;
	} 
	a:hover{
        	background-color: darken($color-contrast, 5%);
		border: 2px solid darken($color-contrast, 10%);
                padding: 20px 10px;
                opacity: .5;
        }	
}

/* * * * Advanced Search * * * */

.items.advanced-search .secondary-nav { display: none; }
form#advanced-search-form {
    max-width: 70%;
    padding: 1em;
    border: 1px solid #ddd;
    @include border-radius(10px);
    div:nth-child(3), 
    div:nth-child(n+6)
    { display: none; }
    div.field label, div.label { 
        font-size: $base-font-size;
        border-bottom: 1px solid #ddd;
    }
    input,select,button { margin: 1em 1em 0 0; } 
}

/* * * * About Page * * * */

#about div#about-header {
    height: 375px;
    margin: 0 1em;
    background-position: -250px -400px !important;
    background-size: 125% auto !important;
    @media screen and (max-width:768px){
        background-position: bottom right !important;
    }
    background-repeat: no-repeat !important;
}
