/*
*
* Collections Page CSS
* Xavier Lee (xlee1)
* 12.19.14
* 
*/

$collections-text-color: rgba(225,225,225,.6);
$gradient-top: rgba(50,50,50,.6);
$gradient-bottom: rgba(0,0,0,0);

#collections-page {
	width: 97%;
	margin-left: auto;
	margin-right: auto;

	div{
		float: left;
		width: 290px;
		padding: .5%;
		height: 200px;
		overflow: hidden;
		margin: .5%;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	h4{
	    color: $collections-text-color;
		font-size: $base-font-size;
		padding-top: 35px;
		text-align: center;
	}

	h5{
		color: $collections-text-color;
		text-align: center;
		padding-top: 34px;
		margin-bottom: -68px;
		font-variant: small-caps;
		font-size: .6 * $base-font-size;
	}

	p{
	    color: $collections-text-color;
	    display: none;
	    text-align: center;
	    padding-top: 35px;
	    font-size: .8 * $base-font-size;
	    line-height: .8 * $base-line-height;
	}

	:hover p{
	display: block;
	}

	:hover h4,  :hover h5{
	display: none;
	}   

	#blackswarthmore{
		@include background(image-url("/files/fullsize/10a5628ce7b687f4aa17b1e5ef724dd2.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#halcyon{
		background-size: 400px 400px;
		@include background( image-url("/files/original/9f3332c096da7f90806c24eae99c5b0c.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#narratives{
		@include background( image-url("/files/fullsize/03c7e5cef9f2230083e17b403110f335.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: 0px 38%;
	}

	#blackphilosophies{
		@include background( image-url("/files/fullsize/8dd5fc5d5a576b1f4e0ad09cd9e9e373.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#mediafellows{
		@include background( image-url("/files/fullsize/c0a24bba8509defe8c0f4b17c12d4a2e.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#chesterhomes{
		@include background( image-url("/files/fullsize/ea7fdeedbb4e73477895abba21d6ba57.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: bottom right;
	}

	#fhlrefs{
		@include background( image-url("/files/fullsize/cec03e328f658884a1e20b68492f9090.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center right;
	}

	#bccrecords{
		@include background( image-url("/files/fullsize/c3149a8103ab6c6f51010a1561f2cf8d.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center right;
	}

	#students{
		@include background( image-url("/files/fullsize/9f8399fd81eaa2726d0e7614e838559d.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#interviews{
		background-image:  url(/files/fullsize/e0155c1b57f92c6468f30ec1d8bba2eb.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#swarthmorean{
		background-image:  url(/files/fullsize/7897a6cea33f74a323828b04adf52559.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#delcotimes{
		background-image:  url(/files/fullsize/a29663d7cd6a72bd50c85118bd8b0f0d.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#robcross{
		background-image:  url(/files/fullsize/9363b806296723780296e0d746c3fe12.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#courtneysmith{
		background-image:  url(/files/fullsize/491af50d4c031fde6cb9c0528f3594fb.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}

	#phoenix{
		background-image:  url(/files/fullsize/1653746fb11685df22b980e5d563f3eb.jpg"),
		linear-gradient(to bottom, $gradient-top, $gradient-bottom));
		background-position: center center;
	}
}
