@import "normalize";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Bevan);

/* * * * * * * * * * *

 * Berlin+

 * Variables Extending Default Berlin

 * * * * * * * * * * */
$font-primary-family:'Special Elite';
$font-secondary-family: 'Droid Serif';
$font-primary-header: 'Bevan';
$font-secondary-header: 'Source Sans Pro';
//$color-primary: #1e1e1f;
//$color-contrast: #078C03;
//$color-dark: #040404;
$color-primary: #292b39;
$color-contrast: #ee5140;
$color-dark: #040404;

$color-hover-background: lighten($color-primary, 15%);
$color-hover-foreground: lighten($color-primary, 60%);

@import "screen";
@import "blacklib";
@import "collections";

@media screen and (max-width:960px) {
    @import "960max";
}

@media screen and (max-width:768px) {
    @import "768max";
}
