@import "normalize";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(http://fonts.googleapis.com/css?family=Ultra);
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(http://fonts.googleapis.com/css?family=Bevan);

/* * * * * * * * * * *

 * Berlin+

 * Variables Extending Default Berlin

 * * * * * * * * * * */
$font-primary-family:'Special Elite';
$font-secondary-family:'Karla';
$font-header: 'Bevan';
$color-primary: #1e1e1f;
$color-contrast: #078C03;
$color-dark: #040404;

@import "screen";
@import "blacklib";
@import "collections";

@media screen and (max-width:960px) {
    @import "960max";
}

@media screen and (max-width:768px) {
    @import "768max";
}
